In [1]:
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/

In [2]:
# !kaggle datasets download -d tmdb/tmdb-movie-metadata

In [3]:
# import zipfile
# zip_ref = zipfile.ZipFile('/content/tmdb-movie-metadata.zip', 'r')
# zip_ref.extractall('/content')
# zip_ref.close()

In [4]:
# credits = pd.read_csv('/content/tmdb_5000_credits.csv')
# movies = pd.read_csv('/content/tmdb_5000_movies.csv')

In [5]:
import pandas as pd
import numpy as np

In [6]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [7]:
print(movies.shape)
print(credits.shape)

(4803, 20)
(4803, 4)

In [8]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [9]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [10]:
movies = movies.merge(credits, on='title')

In [11]:
movies.shape

(4809, 23)

In [12]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [13]:
# We are going to do analysis on the basis of context by making tags, so we will look for relevant columns which are useful for us
# budget- if a good movie is having high budget then it is not necessary that all movies with high budget will be liked, so drop
# genres- movies of same genres are prefered
# homepage- drop as movie is not recommended based on homepage
# id- keep as to extract photo from tmdb database
# keyword - necessary for tagging
# original language - drop as can be in different lang which does not affect movies views
# original title - drop as title can be in different lang
# overview - necessary
# popularity - important but not necesary for tags
# production_companies- drop
# production_countries- drop
# release_date - imp, but not for tagging so drop
# revenue- drop
# runtime- drop
# spoken_lang- drop
# status - drop
# tagline - very diff from reality so drop
# title- keep
# vote_avg- imp, but not for tag so drop
# vote_count- drop
# movie_id- drop as id taken
# cast - keep for top 3 characters
# crew - keep for director

In [14]:
movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [15]:
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [16]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [17]:
movies.dropna(inplace=True)

In [18]:
movies.isnull().sum()[movies.isnull().sum()>0]

Series([], dtype: int64)

In [19]:
movies.duplicated().sum()

0

In [20]:
import ast

In [21]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [22]:
movies['genres'] = movies['genres'].apply(convert)

In [23]:
movies['keywords'] = movies['keywords'].apply(convert)

In [24]:
def character(obj):
    l=[]
    cnt = 0
    for i in ast.literal_eval(obj):
        if cnt!=3:
            l.append(i['name'])
        else:
            break
        cnt+=1
    return l

In [25]:
movies['cast'] = movies['cast'].apply(character)

In [26]:
def director(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
    return l

In [27]:
movies['crew'] = movies['crew'].apply(director)

In [28]:
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [29]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [30]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(' ','') for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(' ','') for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(' ','') for i in x])

In [31]:
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [32]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [33]:
movies = movies[['id','title','tags']]

In [34]:
movies['tags'] = movies['tags'].apply(lambda x:[i.lower() for i in x])

In [35]:
movies['tags'] = movies['tags'].apply(lambda x:' '.join(x) )

In [36]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Hp\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [37]:
lemmatizer = WordNetLemmatizer()

In [38]:
def lemma(text):
    l = []
    for i in text.split():
        l.append(lemmatizer.lemmatize(i))
    return ' '.join(l)

In [39]:
movies['tags'].apply(lemma)

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just want to play his guitar and c...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [41]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [42]:
vectors.shape

(4806, 5000)

In [43]:
# issues: action and actions; digits
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
similarity = cosine_similarity(vectors)

In [46]:
# 1- dist min, 0- dist max
similarity[0]

array([1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
       0.        ])

In [47]:
def recommend(movie):
    movie_index = movies[movies['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse = True, key=lambda x:x[1])[1:6] # top 5 related movies
    for i in movie_list:
        print(movies.iloc[i[0]].title)

In [48]:
recommend('Men in Black 3')

Timecop
Men in Black II
The Helix... Loaded
Men in Black
Rush Hour 2

In [49]:
import pickle

In [50]:
pickle.dump(movies,open('movies.pkl','wb'))

In [54]:
pickle.dump(movies.to_dict(),open('movie_dict.pkl','wb'))

In [56]:
pickle.dump(similarity,open('similarity.pkl','wb'))